*.elc
/eln-cache/

/elpa/

/auto-save-list/
/backups/
/.cask/
/eshell/
/games/
/org-persist/
/racket-mode/
/server/
/tramp-autosave/
/tramp-backups/
/transient/
/tree-sitter/
/tutorial/
/url/

/.authinfo*
/tramp
/recentf
/projects
/.mc-lists.el

/custom.el
